<div class="card">
    <h2 class="mb-5 ms-5 header poppins-medium">{{headerText}}</h2>
    <div class="card-body">
        <p class="additional-info poppins-medium mb-1">{{additionalInfo}}</p>
        <p class="additional-info poppins-medium">{{additionalInformation}}</p>
        <app-table *ngIf="shouldDisplayTable"></app-table>
        <div class="menu-options d-flex justify-content-center">
            <img class="pe-2" src="/assets/my-school-icon.png" alt="">
            <img class="pe-2" src="/assets/classes-icon.png" alt="">
            <img class="pe-2" src="/assets/homework-icon.png" alt="">
            <img src="/assets/messages-icon.png" alt="">
        </div>
    </div>
</div>