<app-navigation></app-navigation>
<div class="text-center">
  <img src="https://i.gifer.com/76au.gif" alt="Months gif" width="430px">
</div>

<div
  class="login-container text-center p-4 rounded rounded-4 position-relative"
>
  <div class="text-container">
    <h2 class="poppins-semibold text-center fs-1 mb-2">Na današnji dan</h2>
    <p class="poppins-medium">26.februara dogodilo se</p>
    <h4 class="poppins-semibold-italic">“1986. godine Sovjetski Savez je lansirao u Zemljinu orbitu prvi blok svemirske stanice “Mir”, koja je nakon 15 godina uništena sagorevanjem, a ne sagoreli delovi pali su u Tihi Okean 23.marta 2001. godine”  </h4>
  </div>
  <div class="d-flex justify-content-center nav-icons">
    <img class="pe-2 nav-icon" src="/assets/nav-icon-1.png" alt="" />
    <img class="pe-2 nav-icon" src="/assets/nav-icon-2.png" alt="" />
    <img class="pe-2 nav-icon" src="/assets/nav-icon-3.png" alt="" />
    <img class="nav-icon" src="/assets/nav-icon-4.png" alt="" />
  </div>
</div>
