<!-- <div class="container">
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Ponedeljak</th>
            <th scope="col">Utorak</th>
            <th scope="col">Sreda</th>
            <th scope="col">Četvrtak</th>
            <th scope="col">Petak</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Matematika, Engleski jezik, Programiranje</td>
            <td>Fizičko vaspitanje, Programiranje, Engleski jezik</td>
            <td>Matematika, Fizičko vaspitanje</td>
            <td>Programiranje, Engleski jezik</td>
            <td>Matematika, Fizičko vaspitanje</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
<div>
  <img src="/assets/table.png" alt="" class="mt-5">
</div>
